<a href="https://colab.research.google.com/github/Yanhuijun1911/PythonFundamentals/blob/main/Notes-ForLoop_List__Tuples_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loop

In [26]:
for i in range(10):  #i means index
  
  print(i,"hello")
  print("--==0=9==9")  #this also will loop 10 times

0 hello
--==0=9==9
1 hello
--==0=9==9
2 hello
--==0=9==9
3 hello
--==0=9==9
4 hello
--==0=9==9
5 hello
--==0=9==9
6 hello
--==0=9==9
7 hello
--==0=9==9
8 hello
--==0=9==9
9 hello
--==0=9==9

In [28]:
for i in range(10):  
  
  print(i+1,"hello")


for i in range (1,11): 
                     #starting from index 1(actual number) to the 11th index
  print(i,"hello")

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello

In [32]:
for i in range(3,22,2): # start, stop assuming start at zero, step
                        # the 22th index is 21， 只能到21
  print(i)

for i in range(3,23,2): # the 23th index is 22, 偶数不在范围， 所以是21
  print(i)


for i in range(80, 23, -2):
  print(i)

3
5
7
9
11
13
15
17
19
21
3
5
7
9
11
13
15
17
19
21
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24

In [34]:
message = "alan mcgregor for code division"
for letter in message:
  print(letter,"-")

a -
l -
a -
n -
  -
m -
c -
g -
r -
e -
g -
o -
r -
  -
f -
o -
r -
  -
c -
o -
d -
e -
  -
d -
i -
v -
i -
s -
i -
o -
n -

In [37]:
table = int(input("which times table would you like to see? "))
loops = int(input("which number should I stop at? "))

for i in range (1,loops+1):
  print(table,"x",i, "=", table*i)

which times table would you like to see? 9
which number should I stop at? 12
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

#List
## - always uses square brackets []
## - nutable, which means they can be changed and have variable sizes
## - contents can be repeated and changeable

In [1]:
fruitList=["apple", "banana", "cherry", "melon", "mango"]
print(fruitList[:3])
print(fruitList[3])
print(fruitList[3:])

['apple', 'banana', 'cherry']
melon
['melon', 'mango']

In [5]:
fruitList=["apple", "banana", "cherry", "melon", "mango"]
fruitList.append("plum")
print(fruitList)

fruitList.insert(2,"plum")
print(fruitList)

fruitList.remove("cherry")
print(fruitList)

fruitList.pop(2)    #remove the specific item, 2 is the third one, so cherry is removed
print(fruitList)

['apple', 'banana', 'cherry', 'melon', 'mango', 'plum']
['apple', 'banana', 'plum', 'cherry', 'melon', 'mango', 'plum']
['apple', 'banana', 'plum', 'melon', 'mango', 'plum']
['apple', 'banana', 'melon', 'mango', 'plum']

In [6]:
fruitList=["apple", "banana", "cherry", "melon", "mango"]

print(len(fruitList))

5

# Tuple
## - always uses round brackets ()
## - immutable, which means they are fixed and cannot be modified
## - ordered and unchangeable

In [12]:
fruitTuple=("apple", "banana", "cherry", "melon", "mango")

print(fruitTuple)
print(fruitTuple[2])

fruitTuple.append("plum")
print(fruitTuple)

('apple', 'banana', 'cherry', 'melon', 'mango')
cherry

AttributeError: ignored

#Dictionaries

## - always uses curly braces { } to create new dictionaries
## - square brackets[ ], comma-separated key/value pairs

In [15]:
lecturer= {"firstname":"Alan", "surname":"McGregor","location":"Glasgow",
           "height in metres":1.85, "age": 27}

print(lecturer)
print(type(lecturer))
print(lecturer["location"])


#another way to define a dictionary
lecturer2=dict(firsname="Frank",location="Glasgow") 


print(lecturer2)

lecturer2["surname"]="Duffy"   #add something
lecturer2["age"]=45
print(lecturer2)

print(lecturer2["age"])

{'firstname': 'Alan', 'surname': 'McGregor', 'location': 'Glasgow', 'height in metres': 1.85, 'age': 27}
<class 'dict'>
Glasgow
{'firsname': 'Frank', 'location': 'Glasgow'}
{'firsname': 'Frank', 'location': 'Glasgow', 'surname': 'Duffy', 'age': 45}
45

In [17]:
lecturer= {"firstname":"Alan", "surname":"McGregor","location":"Glasgow",
           "height in metres":1.85, "age": 27}

for key in lecturer.keys():        #looking for each item
    print(key,"=",lecturer[key])

firstname = Alan
surname = McGregor
location = Glasgow
height in metres = 1.85
age = 27

In [18]:
lecturer= {"firstname":"Alan", "surname":"McGregor","location":"Glasgow",
           "height in metres":1.85, "age": 27}
print(dir(lecturer))  #direction

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']